<h1>
    Home Page
</h1>

<h2>
    <% = name%>
</h2>

<ol>
    <% students.forEach(student=>{%>
        <li>
            Name: <%= student.name%>
            Age: <%= student.dept%>

        </li>

    <%})%>
</ol>